*
{
  box-sizing: border-box;
  margin : 0;
  padding: 0;
}
html, body {
  height:100vh;
}
canvas{
  position:fixed;
  left:0;
  top:0;
  z-index:-1;

 
}
section
{
  width:100%;
  background-color: rgba(17, 13, 13, 0.458);
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.container-fluid
{
  width: 100%;
  
}

.container-fluid
{
  background-color: rgba(1, 1, 1, 0.611);
}
/*  anim */


.container-fluid {
  width: 500px;
  height: 500px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  1px 1px 20px 20px #62b8621e;
  background-color: #101010;
}

.in{
  content: "";
  /* override the gradient here */
  background-image: conic-gradient(
    #73ff00 20deg,
    transparent 120deg
  );
  width: 180%;
  height: 180%;
  margin: auto;
  position: absolute;
  animation: rotate 2s linear infinite;
  animation-duration: 6s;
}
.container{
  
  width: 98%;
  height: 98%;
  background: #100c0c;
  position: absolute;
  border-radius: 10px;
  color:  #73ff00;
  letter-spacing: 5px;
  text-align: center;
  padding:20px;
  box-sizing: border-box;
  padding: 30px;
} 
.row-title
{
  margin-top: 20px;
}
h1
{
  font-size: 3rem;
}
form
{
  margin-top: 70px;
}
.row-input
{
  margin-top: 3px;
}
input
{
  padding: 10px;
  
}

.row-button
{
  margin-top: 50px;
}
button
{
  padding: 8px;
  background-color: #73ff00;
  color: #100c0c;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  width: 140px;
  
}

p{
  
  color:  #73ff00;
  position: relative;
  z-index: 7;
  padding:0;
  margin-top: 60px;
  font-family: sans-serif;
  font-size: 1.2rem;
  

}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}